<li>
	{{name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Would you like some more?{{else}}Thank you and come again!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete burger!</button>
</li>
